@import url(style/header.css);
:root{
    --cor-de-fundo: white;
    --cor-cabecalho: rgba(0, 0, 255, 0.644);
}
body{
    background-color: var(--cor-de-fundo);
    margin: 0px;
}
h1{
    font-weight: normal;
}